/* Variables */

:root{
    /* Font */
    --font_open_sans:'Open Sans', sans-serif;

    /* Color */
    --white: #ffffff;
    --black: #000000;
    --grey: grey;
    --lightgrey: lightgrey;
    --bg_color_header: #B4D0E7;
    --bg_color_button: #0061FF;
    --color_link: #0093ce;
    --bg_color_business_box_azure: rgba(0, 147, 206, 1);
    --bg_color_business_box_blu: rgba(13, 36, 129, 1);
    --bg_color_business_box_brown: rgba(97, 8, 43, 1);
    --bg_color_business_box_lightgreen_trasp: rgba(208, 233, 205, 1);
      --bg_color_business_box_lightgreen: rgb(162, 211, 155);
    --bg_color_business_box_lightazure: rgba(180, 208, 231, 1);
    --bg_color_business_box_red: rgba(213, 0, 31, 1);
    --bg_color_business_box_lightgrey: rgba(245, 245, 245, 1);
    --bg_color_business_box_orange: rgba(255, 28, 28, 1);
    --bg_color_business_box_yellow: rgba(255, 216, 48, 1);


}

/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 1440px;
    font-family: var(--font_open_sans);
}

a{
    color: var(--black);
}

a:hover{
    cursor: pointer;
}



/* #region Debug_Common */

.debug .row{
    height: 100%;
}

.debug .col_100{
    height: 150px;
}

.debug .col_50{
    height: 100%;
}

.debug .col_60{
    height: 350px;
}

.debug .col_33{
    height: 350px;
    border: 1px solid black;
}

.debug .bg_green{
    background-color: green;
}

/* #endregion Debug_Common */


/* #endregion Common */

/* #region Utility */

.f_size_2{
    font-size: 2.2rem;
}

.text_right{
    text-align: right;
    padding-right: 30px;
}

.text_left{
    text-align: left;
}

.text_center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.regular{
    font-weight: 600;
}

/* Spaces */

.pos_absolute{
    position: absolute;
}

.pos_relative{
    position: relative;
}

.m_auto{
    margin: 0 auto;
}

.m_30{
    margin-top: 30px;
}

.p_tot_1{
    padding: 1rem;
}

.p_tot_2{
    padding: 2rem;
}

.pt_9{
    padding-top: 9rem;
}

.pb_1{
    padding-bottom: 1rem;
}

.pb_2{
    padding-bottom: 2rem;
}

.pb_3{
    padding-bottom: 3rem;
}

.pl_3{
    padding: 1rem 3rem;
}

.m_2{
    margin: 2rem;
}

.mt_1{
    margin-top: 1rem;
}

.mt_2{
    margin-top: 2rem;
}

.mt_3{
    margin-top: 3rem;
}

.mr_3{
    margin-right: 3rem;
}

.mtb_2{
    margin: 2rem 0;
}

.mtb_3{
    margin: 3rem 0;
}

.mb_1{
    margin-bottom: 1rem;
}

.bor_1{
    border: 1px solid var(--lightgrey);
}

.bor_b_1{
    border-bottom: 1px solid var(--lightgrey);
}

.color_radio{
    width: 10px;
    height: 10px;
    background-color: #005cc8;
    appearance: initial;
    border: 2px solid #0e0e0f;
    padding: 4px;
    border-radius: 50%;
}

/* GRID */
.container_lg {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container_md {
  width: 80%;
  max-width: 1152px;
  margin: 0 auto;
}

.container_sm {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col_"] { /* Tutte le classi che all'interno hanno col-, avtranno float:left */
  float: left;
}

.col_100{
    width: 100%;
}

.col_70{
    width: 70%;
}

.col_60{
    width: 60%;
}

.col_50{
    width: 50%;
}

.col_40{
    width: 40%;
}

.col_40_business{
    width: 40%;
    height: 432px;
}

.col_33{
    width: 33.33%;
}

.col_33_piano{
    width: 33.3%;
    height: 1100px;
}

.col_30{
    width: 30%;
}

.col_30_business{
    width: 30%;
    height: 432px;
}

.col_20{
    width: 20%;
}

/* Button */

.btn{
    padding: 5px 15px;
    text-decoration: none;
}

.btn_prova_30_gg{
    padding: 5px 35px;
    text-decoration: none;
    font-size: 12px;
}

.btn_ufficio_vendite{
    padding: 5px 35px;
    text-decoration: none;
}

.btn_blue{
    color: var(--white);
    background-color: var(--bg_color_button);
}

/*  #endregion Utility */

/* #region Header */

/* Navbar */

.navbar{
    background-color: var(--white);
}

.navbar>.row div{
    display: inline-block;
}

.navbar .col_50{
    padding-top: 15px;
    line-height: 2;
}

.navbar img{
    vertical-align: sub;
}

.navbar a{
    text-decoration: none;
    margin-left: 40px;
}

/* /Navbar */

.site_header{
    background-color: var(--bg_color_header);
    height: 600px;
}

.site_header .container_md h1{
    text-align: left;
    font-size: 4.1rem;
}

.prova{
    margin-top: 20px;
}

.prova a{
    text-decoration: none;
    display: inline-block;
}

.annulla{
    margin-top: 10px;
}

#img_header{
    display: inline-block;
    margin-bottom: 6rem;
}

#text_header{
    display: inline-block;
}

#text_header .arrow_down{
    font-size: 2rem;
}

#img_header img{
    max-width: 100%;
}


/* #region Debug_header */

.debug .navbar{
    background-color: yellow;
    height: 50px;
}

/* #endregion Debug_header */

/* #endregion Header */

/* #region Main*/

/* #region Section piano */
#piano>.row>div{
    display: inline-block;
    text-align: center;
}

#piano .col_33_piano{
    padding: 1.5rem;
}

#piano .col_100{
    padding: 1.5rem;
}

#piano h3{
    font-size: 2rem;
}

#piano .hr_color{
    border-top: 1px solid var(--lightgrey);
}

#piano .hr_dim_lg{
    width: 117%;
    position: relative;
    right: 25px;
}

#piano .hr_dim{
    width: 105.2%;
    position: relative;
    right: 25px;
}

#piano .price{
    display: inline-block;
}

#piano .mese{
    color: var(--grey);
    font-size: 13px;
}

#piano .icon{
    position: relative;
}

#piano .icon i{
    position: absolute;
    top: 3px;
}

#piano .icon>span{
    display: inline-block;
    padding-left: 20px;;
}

#piano .prova_30_gg{
    display: inline-block;
    margin: 2rem;
}

#piano .acquista{
    color: var(--color_link);
}

#piano .small_hr{
    border-top: 1px solid var(--lightgrey);
    width: 20%;
}

#piano .punti_salienti ul>li{
    position: relative;
    list-style: none;
    margin-bottom: 1.5rem;
    font-size: 13px;
    font-weight: 600;
}

#piano .check{
    color: var(--color_link);
    position: absolute;
    top: 2px;
}

#piano .punti_salienti li>span{
    display: inline-block;
    padding-left: 20px;;
}

#piano .col_100{
    margin-top: 2rem ;
}

#piano .col_70>h3{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

#piano .col_70>h4{
    margin-bottom: 1rem;
}

#piano .col_30>a{
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 12px;
    float: right;
}

/* #endregion Section piano */


/* #region Section contatto */
#contatto .row{
    margin: 50px auto;
}

#contatto .col_60>img{
    max-width: 100%;
}

#contatto .col_40>h2{
    font-size: 24px;
}

#contatto .col_40>p{
    font-weight: 600;
}

#contatto .col_40>a{
    display: inline-block;
    border: 1px solid var(--black);
    font-weight: 600;
}

/* #endregion Section contatto */

/* #region Section operazioni */

#operazioni img{
    max-width: 100%;
}

#operazioni .col_33 h3{
    font-size: 24px;
    margin-bottom: 1rem;
}

#operazioni .col_33 p{
    font-weight: 600;
}

/* #endregion Section operazioni */

/* #region Section Business */



#title_business{
    margin-top: 4rem;
    padding: 2rem ;
}

#title_business>a{
    color: var(--color_link);
}

#business .team{
    width: 50%;
    height: 50%;
    display: inline-block;
}

#business .col_30_business img{
    max-width: 70%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#business .col_40_business>img{
    max-width: 37%;
}

 #business .col_40_business .small_hr{
    border-top: 1px solid var(--lightgrey);
    width: 20%;
}

#business .col_40_business>p{
    font-weight: 600;
}
.designit{
    background-color: var(--bg_color_business_box_lightgreen);
    border: 8px solid var(--bg_color_business_box_lightgreen_trasp);
}

.asu{
    background-color: var(--bg_color_business_box_brown);
    left: 50%;
}

.uf{
    background-color: var(--bg_color_business_box_azure);
    top: 50%;
}

.topps{
    background-color: var(--bg_color_business_box_orange);
    top: 50%;
    left:50%;
}

.world_bicycle{
    background-color: var(--bg_color_business_box_red);
}

.hearst{
    background-color: var(--bg_color_business_box_lightazure);
    left: 50%;
}

.lonely{
    background-color: var(--bg_color_business_box_blu);
    top: 50%;
}

.clear_ch{
    background-color: var(--bg_color_business_box_yellow);
    top: 50%;
    left:50%;
}


/* #endregion Section Business */

/* #region Section porta */

#porta{
    background-color: var(--bg_color_header);
}

#porta .content_porta{
    display: inline-block;
    padding: 3rem 14rem;
}

#porta h2{
    display: inline-block;
    margin-right: 17rem;
    color: var(--bg_color_business_box_brown);
}

#porta a{
    background-color: var(--white);
    margin-bottom: 1rem;
    display: inline-block;
    position: relative;
    bottom: 37px;
    padding: 5px 50px;
}

/* #endregion Section porta */

/* #region Section Domande */

#domande{
    margin-top:50px;
}

#domande>h3{
    font-size: 24px;
    margin-bottom: 2.5rem;
}

#domande hr{
    border-top: 1px solid var(--lightgrey);
}

#domande p{
    font-size: 13px;
    display: inline-block;
    margin: 2.5rem 25rem 2.5rem 0;
    font-weight: bold;
}
/* #endregion Section Domande */

/* #region Debug_Main */

.debug .site_main{
    background-color:#e6ff0160;
    height: 2900px;
}

.debug #piano{
    height: 600px;
    background-color: bisque;
}

.debug .bg_yellow_green{
    background-color: yellowgreen;
}

.debug #contatto .col_40{
    height: 350px;
}

.debug #title_business{
    height: 150px;
    background-color: aquamarine;
}

.debug #business .col_40{
    height: 350px;
}

.debug #business .col_30{
    height: 350px;
}

.debug #porta{
    height: 150px;
    background-color: rgba(228, 160, 13, 0.623);
}

.debug #domande{
    height: 300px;
    background-color: rgba(0, 85, 241, 0.726);
}

/* #endregion Debug_Main */

/* #endregion Main*/

/* #region Footer */

.site_footer{
    background-color: var(--black);
    color: var(--white);
}

#column_footer .col_20 h3 {
    font-size: 16px;
    margin-bottom: 1.5rem;
}

#column_footer{
    padding: 5rem 0;
}

.site_footer .col_20{
    padding-right: 2rem;
}

#column_footer .col_20 li{
    font-size: 13px;
    list-style: none;
    margin-bottom: 0.6rem;
}

#column_footer hr{
    display: inline-block;
    width: 7rem;
    border-top: 1px solid var(--lightgrey);
    margin-top: 6rem;
}

.site_footer .icon{
    color: var(--grey);
    padding-bottom: 2rem;
}

.site_footer .container_md .dim_i{
    font-size: 10px;
    vertical-align: middle;
}

/* #region Debug_Footer */

.debug .site_footer{
    background-color: #00000060;
    height: 500px;
}

.debug .site_footer .col_20{
    background-color: antiquewhite;
    border: 1px solid black;
    height: 250px;
}

.debug .site_footer .column{
    height: 70%;
}

.debug .site_footer .icon{
    height: 100px;
    background-color: coral;
}

/* #endregion Debug_Footer */

/* #endregion Footer */
