/* Variables */

:root{
    /* Font */
    --font_montserrat: 'Montserrat', sans-serif;
    --font_rubik: 'Rubik Mono One', sans-serif;

    /* Color */
    --white: #ffffff;
    --black: #000000;
    --bg_color_header: #B4D0E7;
    --bg_color_button: #0061FF;
    --color_link: #0262FF;
    --bg_color_business_box_azure: rgba(0, 147, 206, 1);
    --bg_color_business_box_blu: rgba(13, 36, 129, 1);
    --bg_color_business_box_brown: rgba(97, 8, 43, 1);
    --bg_color_business_box_lightgreen: rgba(162, 211, 155, 1);
    --bg_color_business_box_lightazure: rgba(180, 208, 231, 1);
    --bg_color_business_box_red: rgba(213, 0, 31, 1);
    --bg_color_business_box_lightgrey: rgba(245, 245, 245, 1);
    --bg_color_business_box_orange: rgba(255, 28, 28, 1);
    --bg_color_business_box_yellow: rgba(255, 216, 48, 1);


}

/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 1440px;
    font-family: font-family: var(var(--font_montserrat))
}

a{
    color: var(--black);
}

a:hover{
    cursor: pointer;
}

/* #region Debug_Common */

.debug .row{
    height: 100%;
}

.debug .col_100{
    height: 150px;
}

.debug .col_50{
    height: 100%;
}

.debug .col_60{
    height: 350px;
}

.debug .col_33{
    height: 350px;
    border: 1px solid black;
}

.debug .bg_green{
    background-color: green;
}

/* #endregion Debug_Common */


/* #endregion Common */

/* #region Utility */

.text_right{
    text-align: right;
    padding-right: 30px;
}

/* GRID */
.container_lg {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container_md {
  width: 80%%;
  max-width: 1440px;
  margin: 0 auto;
}

.container_sm {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col_"] { /* Tutte le classi che all'interno hanno col-, avtranno float:left */
  float: left;
}

.col_100{
    width: 100%;
}

.col_60{
    width: 60%;
}

.col_50{
    width: 50%;
}

.col_40{
    width: 40%;
}

.col_33{
    width: 33.33%;
}

.col_30{
    width: 30%;
}

.col_20{
    width: 20%;
}

/* Button */

.btn{
    padding: 5px 15px;
}

.btn_blue{
    color: var(--white);
    background-color: var(--bg_color_button);
}

/*  #endregion Utility */

/* #region Header */

.navbar>.row div{
    display: inline-block;
}

.navbar .col_50{
    padding-top: 15px;
}

.navbar img{
    vertical-align: middle;
}

.navbar a{
    text-decoration: none;
    margin-left: 40px;
}

/* #region Debug_header */

.debug .site_header{
    background-color: #ff1c1c60;
    height: 500px;
}

.debug .navbar{
    background-color: yellow;
    height: 50px;
}

/* #endregion Debug_header */

/* #endregion Header */

/* #region Main*/

#piano>.row div{
    display: inline-block;
}

#contatto .row{
    margin: 50px auto;
}

#domande{
    margin-top:50px;
}

/* #region Debug_Main */

.debug .site_main{
    background-color:#0094ce60;
    height: 2900px;
}

.debug #piano{
    height: 600px;
    background-color: bisque;
}

.debug .bg_yellow_green{
    background-color: yellowgreen;
}

.debug #contatto .col_40{
    height: 350px;
}

.debug #title_business{
    height: 150px;
    background-color: aquamarine;
}

.debug #business .col_40{
    height: 350px;
}

.debug #business .col_30{
    height: 350px;
}

.debug #porta{
    height: 150px;
    background-color: rgba(228, 160, 13, 0.623);
}

.debug #domande{
    height: 300px;
    background-color: rgba(0, 85, 241, 0.726);
}

/* #endregion Debug_Main */

/* #endregion Main*/

/* #region Footer */

.site_footer .col_20{
    margin-top: 50px;
}

/* #region Debug_Footer */

.debug .site_footer{
    background-color: #00000060;
    height: 500px;
}

.debug .site_footer .col_20{
    background-color: antiquewhite;
    border: 1px solid black;
    height: 250px;
}

.debug .site_footer .column{
    height: 70%;
}

.debug .site_footer .icon{
    height: 100px;
    background-color: coral;
}

/* #endregion Debug_Footer */

/* #endregion Footer */
